<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--<add name="mmConnection" 
			 connectionString="Server=VANDANGO-PC\VDSQL;Database=MovieMatic;Uid=sa;Pwd=banane;" 
			 providerName="System.Data.SqlClient" />-->
		<!--<add name="mmConnection"
			 connectionString="Server=NAUMANNMOBIL\MSSQL2005;Database=MovieMatic;Uid=sa;Pwd=banane;"
			 providerName="System.Data.SqlClient" />-->
		<add name="mmConnection" connectionString="Server=NBHB023;Database=MovieMatic;Uid=sa;Pwd=banane;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
